@import "tailwindcss";

@layer base {
  body {
    @apply bg-accent text-white font-display pb-10;
  }
  h1 {
    @apply text-4xl font-medium text-shadow-white;
  }
  h2 {
    @apply text-2xl font-medium text-shadow-white;
  }
  h3 {
    @apply text-xl font-medium text-shadow-white;
  }
  span {
    @apply group-hover:text-lime-400 transition-colors;
  }
  a {
    @apply group-hover:text-blue-600 group-hover:underline transition-colors;
  }
}

@layer component {
  .link {
    @apply text-zinc-100 hover:text-white cursor-pointer;
  }
  .card {
    @apply border p-4 rounded-lg border-zinc-200 hover:bg-buttonHover transition duration-100;
  }
}

@theme {
  --color-accent: rgb(30, 40, 60);
  --color-buttonHover: rgb(90, 100, 110, 0.5);
  --font-display: "Quicksand", sans-serif;
}
